body{
	background-color: red;
	margin: 0;
	padding: 3vw 5vw 3vw 5vw;
}
.main{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.player1{
	border: 5px solid rgba(0,0,0,0.8);
	width: 25vw;
	height: 40vw;
	background-color: green;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.player2{
	border: 5px solid rgba(0,0,0,0.8);
	width: 25vw;
	height: 40vw;
	background-color: blue;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.playField{
	border: 5px solid rgba(0,0,0,0.8);
	width: 25vw;
	height: 40vw;
	background-color: violet;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	z-index: 1;
	
}

.playerField2{
	position: relative;
	transform: skewY(-57deg);
	margin-top: -20vw;
	border: 5px solid black;
	z-index: 2;
}
.oben{
	height: 33%;
	width: 100%;
}
.mitte{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 33%;
	width: 100%;
	
}
.unten{
	height: 33%;
	width: 100%;
}
#ÜS{
	font-size: 10vw;
	color: white;
	z-index: 3;
}
#player1Name{
text-align: center;
font-size: 4vw;
padding-bottom: 4vw;
}
#player2Name{
text-align: center;
font-size: 4vw;
padding-bottom: 4vw;
}
.para{
	margin: 0;
	font-size: 2vw;
	color: white;
}